@page
@using Microsoft.AspNetCore.Mvc.Localization
@model RegisterModel
@inject IViewLocalizer ViewLocalizer
@{
    ViewData["Title"] = "Register";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-5 shadow">
        <h2>@ViewLocalizer["Register"]</h2>
        <div>
            <div>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <hr/>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                        <label asp-for="Input.FirstName">@Html.DisplayNameFor(m => m.Input.FirstName)</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                        <label asp-for="Input.LastName">@Html.DisplayNameFor(m => m.Input.LastName)</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                        <label asp-for="Input.Password">@Html.DisplayNameFor(m => m.Input.Password)</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                        <label asp-for="Input.ConfirmPassword">@Html.DisplayNameFor(m => m.Input.ConfirmPassword)</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@ViewLocalizer["Register"]</button>
                </form>
                <hr/>
                <section>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="d-flex justify-content-between">
                                        
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                switch (provider.Name)
                                {
                                    case "Google":
                                        <button type="submit" class="btn btn-link text-decoration-none" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="bi bi-google me-2"></i>@ViewLocalizer["Login with"] @provider.DisplayName</button>
                                        break;
                                    case "Microsoft":
                                        <button type="submit" class="btn btn-link text-decoration-none" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="bi bi-microsoft me-2"></i>@ViewLocalizer["Login with"] @provider.DisplayName</button>
                                        break;
                                    default:
                                        <button type="submit" class="btn btn-link" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        break;
                                }
                            }
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
