@model Collections.Web.Models.Items.TagViewModel
@{
    ViewData["Title"] = Model.Text;
}
<div class="container">
    <h1>Items by @Model.Text tag</h1>
    <hr/>
    <div class="table-responsive p-1">
        <table class="table table-striped" id="items-by-tag">
            <thead>
            <tr>
                <td>
                    @SharedLocalizer["Id"]
                </td>
                <td>
                    @SharedLocalizer["Title"]
                </td>
                <td>
                    @SharedLocalizer["CollectionName"]
                </td>
                <td>
                    @SharedLocalizer["CommentsCount"]
                </td>
                <td>
                    @SharedLocalizer["Likes"]
                </td>
            </tr>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
    $("#items-by-tag").dataTable({
        serverSide: true,
            processing: true,
            filter: true,
            searchDelay: 500,
            ajax: {
                url: document.location.origin +"/api/Item/ItemsByTag?tagId=" + @Model.Id,
                type: 'POST',
                datatype: 'application/json'
            },
            columns: [
                { data: "id", autoWidth: true,
                    render : function(data, type) {
                        if(type === 'display') {
                            return $('<a>')
                                .attr('href', document.location.origin + "/Item/Details/" + data)
                                .text(data)
                                .wrap('<div></div>')
                                .parent()
                                .html();
                        }
                        return data
                    }},
                { data: "title", name: "Title", autoWidth: true },
                { data: "userCollectionName", name: "Collection", autoWidth: true },
                { data: "commentsCount", name: "Comments", autoWidth: true },
                { data: "likesCount", name: "Likes", autoWidth: true },
            ]
    });
    </script>
}