@model Collections.Web.Models.Items.CardItemViewModel

<div class="col">
    <div class="card shadow-sm">
        <div class="card-header">
            @Model.Title
        </div>
        <div class="card-body">
            @if (Model.Tags.Any())
            {
                <div class="p-1 mb-3 d-flex">
                    @foreach (var tag in Model.Tags)
                    {
                        <a class="text-decoration-none text-white badge bg-success text-decoration-none me-1" asp-action="Index" asp-controller="Tag" asp-route-id="@tag.Id">@tag.Text</a>
                    }
                </div>
            }
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.Id" type="button" class="btn btn-sm btn-outline-secondary">@ViewLocalizer["See details"]</a>
                </div>
                <div class="d-flex">
                    <div class="d-flex text-primary me-2">
                        <i class="bi bi-chat-right-text me-1"></i>
                        <small>@Model.CommentsCount</small>
                    </div>
                    <div class="d-flex text-danger">
                        <i class="bi bi-heart me-1"></i>
                        <small>@Model.LikesCount</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>