@using Collections.ApplicationCore.Models
@model Collections.Web.Models.Items.CreateItemViewModel
@{
    ViewData["Title"] = "Create item";
}
<div class="container">
    <h1>@ViewLocalizer["CreateNewItem"]</h1>
    <hr/>
    @using (Html.BeginForm("CreateItem", "Item", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.UserCollectionId);
        
        <div class="mb-3">
            <label asp-for="@Model.Title" class="form-label"></label>
            <input asp-for="@Model.Title" class="form-control"/>
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Tags</label>
            @Html.ListBoxFor(m => m.SelectedTags, new List<SelectListItem>(), new {@class="tags-select form-control", @id="selectedTags", multiple="multiple"})
        </div>

        if (@Model.ExtraFields != null)
        {
            for (var i = 0; i < @Model.ExtraFields.Count; i++)
            {
                <div class="mb-3">
                    <input asp-for="ExtraFields[i].ExtraFieldValueTypeId" value="@Model.ExtraFields[i].ExtraFieldValueType.Id" hidden="hidden"/>
                    @Html.HiddenFor(m => m.ExtraFields[i].ExtraFieldValueType)
                    <label class="form-label">@Model.ExtraFields[i].ExtraFieldValueType.Name</label>
                    @switch (@Model.ExtraFields[i].ExtraFieldValueType.ValueType)
                    {
                        case ValueTypes.String:
                            <input asp-for="ExtraFields[i].Value" type="text" class="form-control"/>
                            break;
                        case ValueTypes.Text:
                            <textarea asp-for="ExtraFields[i].Value" class="form-control" rows="10"></textarea>
                            break;
                        case ValueTypes.Date:
                            <input asp-for="ExtraFields[i].Value" type="date" class="form-control"/>
                            break;
                        case ValueTypes.Number:
                            <input asp-for="ExtraFields[i].Value" type="number" class="form-control"/>
                            break;
                        case ValueTypes.Binary:
                            <input asp-for="ExtraFields[i].Value" type="checkbox" class="form-check"/>
                            break;
                        default:
                            throw new ArgumentOutOfRangeException();
                    }
                </div>
            }
        }
        <input type="submit" class="btn btn-primary" value="@ViewLocalizer["Submit"]"/>
    }

</div>
@section Scripts
{
    <script src="js/selectTag.js"></script>
}