@using Collections.ApplicationCore.Models
@using Collections.Web.Interfaces
@using Markdig
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Collections.Web.Models.Items.ItemExtendedViewModel;
@inject ICurrentUserProvider CurrentUser
@{
    ViewData["Title"] = Model.Title;
}
<div class="container">
    <div class="d-flex justify-content-between">
        <h1>@Model.Title</h1>
        <div class="p-3">
            @if (CurrentUser.HasPermissions(@Model.UserProfileId))
            {
                <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-secondary"><i class="bi bi-pen"></i></a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></a>
            }
        </div>
    </div>
    <hr/>
    <div>
        <h3 class="text-muted">@ViewLocalizer["InCollection"] <a asp-action="Details" asp-controller="Collections" asp-route-id="@Model.UserCollectionId" class="text-decoration-none">@Model.UserCollectionTitle</a></h3>
    </div>
    <div class="ms-3">
        @if (@Model.Tags.Any())
        {
            foreach (var tag in @Model.Tags)
            {
                <a class="text-decoration-none text-white badge bg-success text-decoration-none" asp-action="Index" asp-controller="Tag" asp-route-id="@tag.Id">@tag.Text</a>
            }
        }
    </div>
    @Html.HiddenFor(m => m.Id, new { @id = "groupId" })

    <div class="p-3">
        
        
        @foreach (var extraField in @Model.ExtraFields)
        {
            <div class="row">
                @switch (extraField.ExtraFieldValueType!.ValueType)
                {
                    case ValueTypes.String:
                        <label class="col-3 text-muted">@extraField.ExtraFieldValueType!.Name:</label>
                        <p class="col-9">@extraField.Value</p>
                        break;
                    case ValueTypes.Binary:
                        <label class="col-3 text-muted">@extraField.ExtraFieldValueType!.Name:</label>
                        if (extraField.Value != string.Empty && bool.Parse(extraField.Value))
                        {
                            <p class="col-9"><i class="bi bi-check-lg"></i></p>
                            break;
                        }
                        <p class="col-9"><i class="bi bi-x-lg"></i></p>
                        break;
                    case ValueTypes.Date:
                        <label class="col-3 text-muted">@extraField.ExtraFieldValueType!.Name:</label>
                        <p class="col-9">@extraField.Value</p>
                        break;
                    case ValueTypes.Number:
                        <label class="col-3 text-muted">@extraField.ExtraFieldValueType!.Name:</label>
                        <p class="col-9">@extraField.Value</p>
                        break;
                }
            </div>
        }

        <div class="row">
            <label class="col-3 text-muted">@Html.DisplayNameFor(m => m.AddedOn):</label>
            <p class="col-9">@Model.AddedOn</p>
        </div>
        <div class="row">
            <label class="col-3 text-muted">@Html.DisplayNameFor(m => m.ModifiedOn):</label>
            <p class="col-9">@Model.ModifiedOn</p>
        </div>
        @{
            var markdownFields = @Model.ExtraFields.Where(e => e.ExtraFieldValueType.ValueType == ValueTypes.Text);
            if (markdownFields.Any())
            {
                foreach (var field in markdownFields)
                {
                    <div class="p-3 bg-light mt-3 mb-3 rounded-1 w-auto">
                        <small class="text-muted">@field.ExtraFieldValueType.Name</small>
                        @Html.Raw(Markdown.ToHtml(@field.Value))
                    </div>
                }
            }
        }
        <div>
            <div>
                @if (!User.Identity.IsAuthenticated || Model.Likes.All(p => p.UserProfileId != CurrentUser.ProfileId))
                {
                    <a type="button" class="btn btn-outline-secondary" onclick="location.href = '@Url.Action("LikeItem", "Item", new { itemId = @Model.Id })'"><span class="bi bi-heart"></span> @Model.Likes.Count()</a>
                }
                else
                {
                    <a type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("LikeItem", "Item", new { itemId = @Model.Id })'"><span class="bi bi-heart-fill"></span> @Model.Likes.Count()</a>
                }
            </div>
        </div>
    </div>

</div>
<div class="container-fluid pt-3">
    <div class="container">
        <h2>@ViewLocalizer["Comments"]</h2>
        <hr/>
        <div>
            <div class="p-3">
                @using (Html.BeginForm("WriteComment", "Item", FormMethod.Post, new {@id="commentsForm"}))
                {
                    @Html.Hidden("ItemId", value: @Model.Id)
                    @Html.TextArea("Body", string.Empty, new {@class="form-control mb-3", rows="2", placeholder=ViewLocalizer["WriteAComment"].Value, required="required"})
                    <input type="submit" class="btn btn-primary align-content-end" value="@ViewLocalizer["Send"]" id="writeComment"/>
                }
            </div>
        </div>
        <div id="comments" class="p-1">
            @foreach (var comment in @Model.Comments)
            {
                <div class="bg-light p-1 rounded-1 mb-2">
                    <div class="d-flex justify-content-between p-2">
                        <h5 class="">@comment.UserName</h5>
                        <p class="text-muted micro">@comment.AddedOn</p>
                    </div>
                    <div class="bg-body p-2">
                        <p>@comment.Body</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/commentHubClient.js"></script>
    <script>
    $("#commentsForm").validate()
    </script>
}