@using Collections.ApplicationCore.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Net.Mime
@model Collections.Web.Models.Items.UpdateItemViewModel
@{
    ViewData["Title"] = "Update " + @Model.Title;
}
<div class="container">
    <h1>@ViewLocalizer["UpdateItem"] @Model.Title</h1>
    <hr/>
    
    @using (Html.BeginForm("UpdateItem", "Item", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.Title)</label>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label class="form-label">@Html.LabelFor(m => m.SelectedTags)</label>
            <select asp-for="SelectedTags" class="tags-select form-select">
                @if (Model.Tags.Any())
                {
                    for (var i = 0; i < Model.Tags.Count(); i++)
                    {
                        <option value="@Model.Tags[i].Id" selected="selected">@Model.Tags[i].Title</option>
                    }
                }
            </select>
                @if (Model.Tags.Any())
            {
                for (var i = 0; i < Model.Tags.Count(); i++)
                {
                    @Html.HiddenFor(m => m.Tags[i].Id)
                    @Html.HiddenFor(m => m.Tags[i].Title)
                }
            }
            @Html.ValidationMessageFor(m => m.SelectedTags, string.Empty, new { @class = "text-danger" });
        </div>

        if (@Model.ExtraFields != null)
        {
            <h5>Additional fields</h5>
            <hr/>
            <div class="p-3">
                @for (var i = 0; i < @Model.ExtraFields.Count; i++)
                {
                    <div class="mb-3">
                        @Html.HiddenFor(m => m.ExtraFields[i].Id)
                        @Html.HiddenFor(m => m.ExtraFields[i].ExtraFieldValueTypeId)
                        @Html.HiddenFor(m => m.ExtraFields[i].ExtraFieldValueType)
                        @Html.HiddenFor(m => m.ExtraFields[i].ExtraFieldValueType.Name)
                        <label class="form-label">@Model.ExtraFields[i].ExtraFieldValueType.Name</label>
                        @switch (@Model.ExtraFields[i].ExtraFieldValueType.ValueType)
                        {
                            case ValueTypes.String:
                                @Html.TextBoxFor(m => m.ExtraFields[i].Value, new { @class = "form-control" })
                                break;
                            case ValueTypes.Text:
                                @Html.TextAreaFor(m => m.ExtraFields[i].Value, new { @class = "form-control" })
                                break;
                            case ValueTypes.Date:
                                <input asp-for="ExtraFields[i].Value" value="@Model.ExtraFields[i].Value" type="date" class="form-control"/>
                                break;
                            case ValueTypes.Number:
                                <input asp-for="ExtraFields[i].Value" value="@Model.ExtraFields[i].Value" type="number" class="form-control"/>
                                break;
                            case ValueTypes.Binary:
                                if (bool.TryParse(Model.ExtraFields[i].Value, out var value))
                                {
                                    <input asp-for="ExtraFields[i].Value" value="@value" type="checkbox" class="form-check"/>
                                }
                                else
                                {
                                    <input asp-for="ExtraFields[i].Value" value="false" type="checkbox" class="form-check"/>
                                }
                                
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }
                        @Html.ValidationMessageFor(m => m.ExtraFields[i].Value, string.Empty, new {@class="text-danger"})
                    </div>
                }
            </div>
            <input type="submit" class="btn btn-primary" value="@ViewLocalizer["Submit"]"/>
        }
    }
</div>
   