@using Collections.ApplicationCore.Models
@using Collections.Web.Interfaces
@model Collections.Web.Models.UserProfile.UserProfileViewModel
@inject ICurrentUserProvider CurrentUser
@{
    ViewData["Title"] = string.Join(" ", Model.FirstName, Model.LastName);
}
<div class="container">
    <h1>
        @Model.FirstName @Model.LastName
    </h1>
    <hr/>
    <div class="d-flex justify-content-between">
        <h3>@ViewLocalizer["Collections"]</h3>
        @if (CurrentUser.HasPermissions(@Model.Id))
        {
            if (CurrentUser.IsAdmin)
            {
                <a type="button" class="btn btn-primary" asp-controller="Collections" asp-action="CreateAsUser" asp-route-profileId="@Model.Id">@ViewLocalizer["CreateCollectionAs"] @Model.FirstName @Model.LastName</a>
            }
            else
            {
                <a type="button" class="btn btn-primary" asp-controller="Collections" asp-action="Create"><i class="bi bi-plus-lg"></i> @ViewLocalizer["CreateCollection"]</a>
            }
        }
    </div>
    <hr/>
    <div class="table-responsive p-1">
        <table class="table user-collections-table">
            <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                   @SharedLocalizer["Title"]
                </td>
                <td>
                    @SharedLocalizer["Description"]
                </td>
                <td>
                    @SharedLocalizer["Theme"]
                </td>
                <td>
                    @SharedLocalizer["Items count"]
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
    $(".user-collections-table").DataTable({
        serverSide: true,
        processing: true,
        filter: true,
        searchDelay: 500,
        ajax: {
            url: document.location.origin +"/api/Collection/GetCollections?userId=" + @Model.Id,
            type: 'POST',
            datatype: 'application/json'
        },
        columns: [
            { data: "id", autoWidth: true,
                render : function(data, type) {
                    if(type === 'display') {
                        return $('<a>')
                            .attr('href', document.location.origin + "/Collections/Details/" + data)
                            .text(data)
                            .wrap('<div></div>')
                            .parent()
                            .html();
                    }
                    return data
                }},
            { data: "title", name: "Title", autoWidth: true },
            { data: "description", name: "Description", autoWidth: true },
            { data: "userCollectionTheme", name: "Theme", autoWidth: true },
            { data: "itemsCount", name: "Items count", autoWidth: true },
        ]
    });
    </script>
}
