@using Collections.Web.Interfaces
@using Markdig
@model Collections.Web.Models.Collection.CollectionWithItemsViewModel
@inject ICurrentUserProvider CurrentUser
@inject IViewLocalizer ViewLocalizer

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-between">
        @if (string.IsNullOrWhiteSpace(Model.ImageSource))
        {
            <img src="~/img/placeholder.jpg" alt="image" class="img collection-img col-md-3 mb-2"/>
        }
        else
        {
            <img src="@Model.ImageSource" alt="@Model.ImageName" class="img collection-img col-md-3 mb-2"/>
        }
        <div class="col-md-9">
            <div class="d-flex justify-content-between">
                <h1>@Model.Title</h1>
                <div class="p-3">
                    <a class="btn btn-sm btn-outline-success disabled"><i class="bi bi-filetype-csv"></i></a>
                    @if (CurrentUser.HasPermissions(@Model.UserProfileId))
                    {
                        <a asp-action="Update" asp-route-collectionId="@Model.Id" class="btn btn-sm btn-outline-secondary"><i class="bi bi-pen"></i></a>
                        <a asp-action="Delete" asp-route-collectionId="@Model.Id" asp-route-imageName="@(Model.ImageName ?? "")" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></a>
                    }
                </div>
            </div>
            <hr/>
            <h3 class="mb-3 text-muted">@ViewLocalizer["By"] <a class=" text-decoration-none" asp-action="Details" asp-controller="UserProfile" asp-route-id="@Model.UserProfileId">@Model.ProfileFullName</a></h3>
            <div>
                <div class="row">
                    <label class="text-muted col-3">@Html.DisplayNameFor(m => m.UserCollectionTheme):</label>
                    <h5 class="col-9">@Model.UserCollectionTheme</h5>
                </div>
                <div class="row">
                    <label class="text-muted col-3">@Html.DisplayNameFor(m => m.AddedOn):</label>
                    <p class="col-9">@Model.AddedOn</p>
                </div>
                <div class="row">
                    <label class="text-muted col-3">@Html.DisplayNameFor(m => m.ModifiedOn):</label>
                    <p class="col-9">@Model.ModifiedOn</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-3 bg-light mt-3 mb-3 rounded-1">
        <small class="text-muted">@Html.DisplayNameFor(m => m.Description)</small>
        @Html.HiddenFor(m => m.Description)
        @Html.Raw(Markdown.ToHtml(@Model.Description))
    </div>
    <div class="d-flex justify-content-between">
        <h3>@ViewLocalizer["Items"]</h3>
        <div>
            @if (CurrentUser.HasPermissions(@Model.UserProfileId))
            {
                <a asp-action="CreateItem" asp-route-collectionId="@Model.Id" class="btn btn-primary"><i class="bi bi-plus-lg"> </i>@ViewLocalizer["CreateItem"]</a>
            }
        </div>
    </div>
    <hr/>
    
    @if (Model.Items.Count > 0)
    {
        <div class="table-responsive p-1">
            <table class="table table-hover table-striped" id="itemsTable">
                <thead>
                <tr>
                    <td>
                        @Html.DisplayNameFor(c => c.Items[0].Id)
                    </td>
                    <td>
                        @Html.DisplayNameFor(c => c.Items[0].Title)
                    </td>
                    <td>
                        @Html.DisplayNameFor(c => c.Items[0].LikesCount)
                    </td>
                    <td>
                        @Html.DisplayNameFor(c => c.Items[0].Tags)
                    </td>

                    @foreach (var fieldValueType in @Model.Items[0].ExtraFields)
                    {
                        if (fieldValueType.ExtraFieldValueType.IsVisible)
                        {
                            <td>@fieldValueType.ExtraFieldValueType.Name</td>
                        }
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model.Items)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Item" asp-route-id="@item.Id">@item.Title</a>
                        </td>
                        <td>
                            @item.LikesCount
                        </td>
                        <td>
                            @string.Join(" ", item.Tags.Select(t => t.Text))
                        </td>
                        @foreach (var field in item.ExtraFields)
                        {
                            if (field.ExtraFieldValueType.IsVisible)
                            {
                                <td class="text-truncate" style="max-width: 150px">
                                    @field.Value
                                </td>
                            }
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>
</body>
</html>