@using Collections.Web.Interfaces
@using Markdig
@model Collections.Web.Models.Collection.CollectionWithItemsViewModel
@inject ICurrentUserProvider currentUser

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<img src="@Model.ImageSignedSource" alt="@Model.ImageName" class="img-fluid"/>
<div class="container">

    <div class="d-flex justify-content-between">
        <h1>@Model.Title <small class="text-muted text-decoration-underline">by @Model.ProfileFullName</small></h1>
        <div class="p-3">
            @if (currentUser.HasPermissions(@Model.UserProfileId))
            {
                <a asp-action="Update" asp-route-collectionId="@Model.Id" class="btn btn-sm btn-outline-secondary">Update collection</a>
                <a asp-action="Delete" asp-route-collectionId="@Model.Id" class="btn btn-sm btn-outline-danger">Delete collection</a>
            }
        </div>
    </div>
    <hr/>
    <h3>@Model.UserCollectionTheme</h3>
    <div class="p-3 bg-light mt-3 mb-3 rounded-1">
        @Html.Raw(Markdown.ToHtml(@Model.Description))
    </div>
    <h3>Items</h3>
    @if (currentUser.HasPermissions(@Model.UserProfileId))
    {
        <a asp-action="CreateItem" asp-route-collectionId="@Model.Id" class="btn btn-primary">Create item</a>
    }
    @if (Model.Items.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <td>
                        @Html.DisplayNameFor(c => c.Items[0].Id)
                    </td>
                    <td>
                        @Html.DisplayNameFor(c => c.Items[0].Title)
                    </td>
                    <td>
                        @Html.DisplayNameFor(c => c.Items[0].LikesCount)
                    </td>
                    <td>
                        @Html.DisplayNameFor(c => c.Items[0].Tags)
                    </td>

                    @foreach (var fieldValueType in @Model.Items[0].ExtraFields)
                    {
                        if (fieldValueType.ExtraFieldValueType.IsVisible)
                        {
                            <td>@fieldValueType.ExtraFieldValueType.Name</td>
                        }
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model.Items)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Item" asp-route-id="@item.Id">@item.Title</a>
                        </td>
                        <td>
                            @item.LikesCount
                        </td>
                        <td>
                            @string.Join(" ", item.Tags.Select(t => t.Title))
                        </td>
                        @foreach (var field in item.ExtraFields)
                        {
                            if (field.ExtraFieldValueType.IsVisible)
                            {
                                <td>
                                    @field.Value
                                </td>
                            }
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>
</body>
</html>