
<div class="container">
    <h1>@SharedLocalizer["ExploreCollections"]</h1>
    <hr/>
    <div class="p-1">
        <table id="table-collections" class="table">
            <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    @SharedLocalizer["Title"]
                </td>
                <td>
                    @SharedLocalizer["Description"]
                </td>
                <td>
                    @SharedLocalizer["Theme"]
                </td>
                <td>
                    @SharedLocalizer["Author"]
                </td>
                <td>
                    @SharedLocalizer["Items count"]
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/paginatedCollection.js"></script>
}
