@using Microsoft.AspNetCore.Mvc.Localization
@model HomePageViewModel
@inject IViewLocalizer ViewLocalizer
@{
    ViewData["Title"] = "Home Page";
}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">@ViewLocalizer["WelcomeTo"] <span class="text-primary">Collections</span>!</h1>
            <p class="lead text-muted">@ViewLocalizer["CollectEverything"]</p>
            <p>
                @if (User.Identity!.IsAuthenticated)
                {
                    <a asp-action="Create" asp-controller="Collections" class="btn btn-primary my-2"><i class="bi bi-plus-lg"> </i>@ViewLocalizer["CreateCollection"]</a>
                }
                <a asp-action="Index" asp-controller="Collections" class="btn btn-outline-secondary"><i class="bi bi-globe-central-south-asia"></i> @ViewLocalizer["ExploreMore"]</a>
            </p>
        </div>
    </div>
</section>

<div class="container-fluid tag-cloud" id="tagCloud" name="tagCloud"></div>

<div class="container-fluid py-5 bg-light">
    <div class="container mb-3">
        <h3>@ViewLocalizer["CollectionsWithMore"]</h3>
        <hr/>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model.CollectionsWithMoreItems)
                {
                    await Html.RenderPartialAsync("_CollectionCard", item);
                }
            </div>
    </div>
    <div class="container mb-3">
        <h3>@ViewLocalizer["MostPopularItems"]</h3>
        <hr/>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in @Model.MostPopularItems)
            {
                await Html.RenderPartialAsync("_ItemCard", item);
            }
        </div>
    </div>
    <div class="container mb-3">
            <h3>@ViewLocalizer["LastAddedItems"]</h3>
            <hr/>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var item in @Model.LastAddedItems)
                {
                    await Html.RenderPartialAsync("_ItemCard", item);
                }
            </div>
        </div>
</div>